.btn-link>.icon-btn {
    width: 16px;
    height: 16px;
    margin-top: -1px;
    padding: 0;
    font-size: 0;
    font-weight: 400;
    border-radius: 0;
}


/* end of Bootstrap tweaks */

body {
    background: #EDEDED;
    color: #303030;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

.screenWrapper {
    min-width: 990px;
    max-width: 1160px;
    padding: 0;
}

.defTxtLightGray {
    color: #9b9b9b;
    font-size: 1.2em;
    font-weight: 400;
}

.defTxtDarkGray {
    color: #545454;
    font-size: 1.2em;
    font-weight: 400;
}

.lightTxt {
    color: #303030;
    font-size: 1.2em;
    font-weight: 300;
}

.gridLabels {
    color: #8e8e8e;
    font-size: 1em;
    font-weight: 400;
    text-align: left;
}

.searchLabels {
    color: #545454;
    font-size: 1em;
    font-weight: 400;
    text-align: left;
}

.searchLabels2 {
    line-height: 18px;
    color: #545454;
    font-size: 1em;
    font-weight: 400;
    text-align: left;
}

.panelValues {
    color: #303030;
    font-size: 1em;
    font-weight: 400;
    text-align: left;
}

.dashBoxLabel {
    color: #8e8e8e;
    margin-bottom: 6px;
}

.dashBoxValue {
    font-weight: 700;
    color: black;
    margin-left: 8px;
}

.headlineLight {
    color: #303030;
    font-size: 2em;
    font-weight: 100;
}

.headlineLight2 {
    color: #303030;
    font-size: 1.44em;
    font-weight: 100;
}

.warningTitle {
    color: white;
    font-size: 1.32em;
    font-weight: 700;
    text-align: left;
}

.warningMessage {
    color: white;
    font-size: 1.32em;
    font-weight: 400;
    text-align: left;
}

.headlineRegular {
    color: #545454;
    font-size: 2em;
    font-weight: 400;
}

.headlineRegular2 {
    color: #545454;
    font-size: 1.44em;
    font-weight: 400;
}

.headlineTotal {
    color: #C0213D;
    font-size: 2em;
    font-weight: 500;
}

.headerSection {
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
}

.smallHeader {
    margin: 0;
    padding-top: 10px;
    padding-left: 24px;
    padding-right: 0;
    border-bottom: 1px solid #dddddd;
    background-color: #EDEDED;
}

.miniHeader {
    padding-top: 6px;
    padding-left: 0;
}

.breadcrumbLabel {
    display: inline-block;
    font-size: 1.1em;
    font-weight: 400;
    color: #545454;
    text-align: right;
    padding-right: 4px;
    padding-top: 0;
}

.gridContainer {
    background-color: white;
    width: calc(100% - 13px);
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

#headClient {
    margin-top: 8px;
    display: inline;
    padding-left: 10px;
}

#headJobsite {
    margin-top: 8px;
    display: inline;
    padding-left: 4px;
}

#headTotal {
    width: auto;
}

.totalLabel {
    padding-top: 16px;
    text-align: left;
}

.totalLabelSmall {
    padding-top: 8px;
    text-align: left;
}

.quotingPath {
    margin-top: 16px;
    padding-left: 8px;
    padding-right: 18px;
}

.quotingPathSmall {
    margin-top: 8px;
    padding-left: 8px;
    padding-right: 18px;
}

.totalbox {
    padding-right: 8px;
    display: inline-block;
    padding-left: 10px;
}

.alignRight {
    text-align: right;
}

.alignLeft {
    text-align: left;
}

.alignCenter {
    text-align: center;
}

.skickLeft {
    text-align: left;
    padding-left: 18px;
}

.templateBtnIcon {
    padding-left: 4px;
    padding-top: 3px;
    font-size: 10px;
}

.optionBtnIcon {
    padding-left: 5px;
    padding-top: 0;
    margin-top: -5px !important;
    margin-right: 0;
    display: inline-block;
}

.optionBtnText {
    padding-top: 3px !important;
    margin-right: 4px;
    display: inline-block;
}

.businessLineBtn {
    width: 18%;
}

.businessLineBtnSelected {
    border: 1px solid #3FA9F5;
    color: #3FA9F5;
    font-weight: 700;
}

.businessLineBtnSelected:hover,
.businessLineBtnSelected:focus,
.businessLineBtnSelected:active {
    border: 1px solid #007CC2;
    color: #007CC2 !important;
    background-color: rgba(63, 169, 245, .1) !important;
}

.businessLines {
    padding-top: 20px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.businessLines2 {
    padding-top: 8px;
    padding-left: 10px;
    display: block;
    justify-content: space-between;
    padding-right: 22px;
}

.businessLineBtnIcon {
    margin-left: -7px;
    margin-right: 7px;
    margin-top: -1px;
    font-size: 13px;
}

.quotingPath a {
    color: #9b9b9b;
}

.sectionSelector {
    margin: 0;
    padding-top: 19px;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid #dddddd;
    background-color: #EDEDED;
}

.sectionSelector2 {
    margin: 0;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 24px;
    border-bottom: 1px solid #dddddd;
    background-color: #EDEDED;
}

.sectionToolbar {
    height: 27px;
    margin-top: 2px;
    margin-bottom: 4px;
    padding-left: 0;
    margin-left: 0;
}

.sectionToolbarBtn {
    height: 23px;
    font-size: 1em;
    padding-top: 2px;
}

.toolbarSpacer {
    margin-right: 16px;
}

.toolbarSpacer24 {
    margin-right: 14px;
}

.toolbarSpacer32 {
    margin-right: 27px;
}

.toolbarSpacer100 {
    margin-right: 100px;
}

.toolbarSpacer126 {
    margin-right: 126px;
}

.gridWrapper {
    padding: 0 0 0 11px;
    margin: 0;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.footerTitle {
    color: white;
    font-weight: 700;
}

.gridArea {
    padding-left: 0;
    margin-left: 0;
    padding-right: 0;
    margin-right: 0;
    width: 100%;
}

.listBox {
    background-color: white;
    width: calc(100% - 430px);
    padding-top: 8px;
    padding-left: 0;
}

.gridHeader {
    line-height: 13px;
    height: 32px;
    margin: 0;
    padding: 0 0 5px 0;
}

.gridHeader>.lastGridCol {
    margin-left: 0;
    margin-right: 0;
    padding-right: 4px;
}

.headerTitles {
    margin-left: 124px;
}

.itemCol {
    max-width: 88px;
    min-width: 40px;
    margin-right: 4px;
    padding-left: 0;
}

.gridHeader>.itemCol {
    min-width: 48px;
    margin-left: 18px;
    margin-right: 0;
}

.plantCol {
    max-width: 88px;
    min-width: 40px;
    margin-right: 4px;
    padding-left: 4px;
}

.gridHeader>.plantCol {
    min-width: 47px;
    margin-left: 0;
    padding-left: 3px;
    margin-right: 0;
}

.productIDCol {
    min-width: 72px;
    max-width: 100px;
    padding-left: 2px;
    margin-right: 4px;
}

.productDescCol {
    min-width: 170px;
    max-width: 360px;
    padding-left: 4px;
    padding-right: 0;
    margin-right: 2px;
}

.productIdHeaderCol {
    min-width: 72px;
    max-width: 100px;
    padding-left: 0;
    padding-right: 0;
    white-space: nowrap;
}

.productDescHeaderCol {
    min-width: 170px;
    max-width: 360px;
    padding-left: 4px;
    padding-right: 0;
    margin-right: 4px;
}

.gridHeader>.qtyCol {
    min-width: 48px;
    max-width: 84px;
    padding-left: 4px;
    padding-right: 0;
    margin-right: 4px;
    margin-left: 0;
}

.qtyCol {
    min-width: 36px;
    max-width: 84px;
    padding-left: 6px;
    padding-right: 0;
    margin-right: 4px;
}

.gridlineField {
    width: 90%;
    padding-left: 4px;
    padding-right: 0;
    margin-right: -4px;
}

.gridlineField80 {
    width: 78px;
    padding-left: 4px;
    margin-left: 4px;
    margin-right: 0;
}

.gridlineField100 {
    width: 98px;
    padding-left: 4px;
    margin-left: 3px;
    margin-right: 0;
}

.lastGridCol {
    min-width: 66px;
    max-width: 132px;
    padding: 0 2px 0 0;
    margin: 0 8px 0 0;
    text-align: right;
}

.sortActionLastCol {
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
    padding-right: 0;
}

.sortAction {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 0;
}

.sortAction:hover,
.sortActionLastCol:hover {
    cursor: pointer;
}

.sortAction:disabled .sortActionLastCol:disabled {
    cursor: not-allowed;
}

.sortActionDisabled {
    cursor: default;
}

.sortedAscending {
    font-size: 8px;
    padding-left: 2px;
}

.sortedDescending {
    font-size: 8px;
    padding-left: 2px;
}

.footerPanel>.lastGridCol {
    min-width: 80px;
    padding-left: 0;
    padding-right: 0;
}

.firstGridColumn {
    height: 36px;
    min-width: 18px;
    max-width: 44px;
    width: 20px;
    display: flex;
    align-items: center;
    padding-left: 6px;
    padding-right: 16px;
}

.firstGridColumnSub {
    height: 36px;
    min-width: 18px;
    max-width: 44px;
    width: 20px;
    padding-left: 6px;
    padding-right: 8px;
    margin-right: 9px;
    margin-left: -1px;
    background-color: white;
}

.firstCtrlGridColumnSub {
    height: 36px;
    min-width: 18px;
    max-width: 44px;
    width: 20px;
    padding-left: 6px;
    padding-right: 8px;
    margin-right: 0;
    margin-left: -2px;
    background-color: white;
}

.selectorGridColumn {
    min-width: 24px;
    max-width: 88px;
    padding-left: 4px;
    padding-right: 20px;
}

.navbarOffset {
    margin-bottom: -1px;
}

.footerSection {
    background-color: white;
    margin-bottom: 10px;
    padding-top: 8px;
    padding-left: 11px;
    padding-right: 24px;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.footerPanel {
    height: 24px;
    background: #003875;
    color: white;
    padding-top: 4px;
    font-size: 1em;
    padding-left: 8px;
}

.footLabel {
    min-width: 240px;
    max-width: 690px;
    padding-left: 0;
    white-space: nowrap;
}

.footFirstCol {
    min-width: 18px;
    max-width: 24px;
    width: 20px;
    padding-left: 0;
    white-space: nowrap;
}

.footDummySelectCol {
    width: 24px !important;
    padding-left: 4px;
    padding-right: 20px;
}

.footItemCol {
    max-width: 64px;
    min-width: 40px;
    margin-right: 4px;
    padding-left: 8px;
}

.footPlantCol {
    min-width: 40px;
    max-width: 64px;
    margin-right: 4px;
    padding-left: 4px;
}

.footProductIDCol {
    min-width: 50px;
    max-width: 80px;
    padding-left: 2px;
    margin-right: 4px;
}

.footProductDescCol {
    min-width: 80px;
    max-width: 360px;
    padding-left: 4px;
    padding-right: 0;
    margin-right: 2px;
}

.footQtyCol {
    position: absolute;
    right: 94px;
    padding: 0;
    text-align: right;
    width: 54px;
}

.footSumCol {
    margin-right: 9px;
    position: absolute;
    right: 0;
    max-width: 80px;
    padding-left: 4px !important;
    text-align: left;
}

@media only screen and (min-width: 1200px) {
    .gridHeader {
        height: 32px;
        line-height: 13px;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .gridHeader>.itemCol {
        margin-right: 8px;
        margin-left: 4px;
    }
    .productIdHeaderCol {
        min-width: 90px;
        max-width: 110px;
        padding-left: 6px;
        padding-right: 0;
        white-space: nowrap;
    }
    .productDescHeaderCol {
        min-width: 200px;
        max-width: 360px;
        padding-left: 0;
        padding-right: 0;
        margin-right: 4px;
    }
    .gridHeader>.lastGridCol {
        margin-left: 0;
        margin-right: 8px;
        padding-right: 8px;
    }
    .lastGridCol {
        margin-right: 12px;
    }
    .gridHeader>.qtyCol {
        min-width: 36px;
        max-width: 84px;
        padding-left: 4px;
        padding-right: 0;
        margin-right: 4px;
        margin-left: 0;
    }
    .productDescCol {
        min-width: 200px;
        max-width: 360px;
        padding-left: 4px;
        padding-right: 0;
        margin-right: 2px;
    }
    .gridlineField {
        width: 90%;
        padding-left: 4px;
        padding-right: 0;
        margin-left: 16px;
        margin-right: 0;
    }
    .footProductDescCol {
        min-width: 110px;
        max-width: 360px;
        padding-left: 4px;
        padding-right: 0;
        margin-right: 2px;
    }
    .footQtyCol {
        position: absolute;
        right: 110px;
        padding: 0;
        text-align: left;
        width: 70px;
    }
    .footSumCol {
        margin-right: 16px;
        position: absolute;
        right: 0;
        max-width: 124px;
        padding-left: 4px !important;
        text-align: left;
    }
}

.controlGridRow {
    padding-left: 12px;
    margin-top: -3px;
    margin-bottom: 4px;
    height: 36px;
    background: transparent;
}

.controlGridSubRow {
    padding-left: 5px;
    padding-right: 0;
    margin: -3px 4px 4px 17px;
    height: 36px;
    background: transparent;
}

.normalGridRow {
    margin-left: inherit;
    margin-right: inherit;
    margin-bottom: 4px;
    padding-left: 0;
    height: 36px;
    background: #EDEDED;
}

.normalGridSubRow {
    margin-left: 22px;
    margin-right: 4px;
    padding-left: 5px;
    padding-right: 0;
    margin-bottom: 4px;
    height: 36px;
    background: #EDEDED;
}

.selectedGridSubRow {
    margin-left: 22px;
    margin-right: 4px;
    padding-left: 5px;
    padding-right: 0;
    margin-bottom: 4px;
    height: 36px;
    background: #C5E6FC;
}

.normalGridSubRow>.lastGridCol,
.selectedGridSubRow>.lastGridCol {
    min-width: 62px;
    padding-left: 0;
    padding-right: 0;
}

.selectedGridRow {
    margin-left: inherit;
    margin-right: inherit;
    margin-bottom: 4px;
    height: 36px;
    background: #C5E6FC;
}

.redBadge {
    border-left: 5px solid #D0021B;
}

.greenBadge {
    border-left: 5px solid #7AC943;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.vertical-align-bottom {
    display: flex;
    align-items: flex-end;
    overflow-wrap: break-word;
}

.searchPanel {
    width: 430px;
    min-height: 480px;
    background-color: #CED4DC;
    padding: 0;
    margin: 0;
}

.searchPanelClose {
    padding-right: 8px;
    padding-top: 0;
    margin-top: -2px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.searchPanelClose a,
.searchPanelClose a:link,
.searchPanelClose a:visited {
    color: white;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .8);
}

.searchPanelClose a.disabledBtn {
    cursor: not-allowed;
    text-decoration: none;
    text-shadow: none;
    color: rgba(255, 255, 255, .3);
}

.searchPanelClose a:hover:not([class~="disabledBtn"]) {
    color: #3FA9F5;
    text-decoration: none;
    cursor: pointer;
}

[class^="searchPanel2"],
[class*=" searchPanel2"] {
    width: 430px;
    min-height: 500px;
    padding: 0;
    margin: 0;
}

.searchPanel2a1 {
    background: #E8EBEF url("./assets/images/readymix1.jpg") bottom;
}

.searchPanel2a1Dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/images/readymix1.jpg");
    background-position: bottom;
}

.searchPanel2a2 {
    background: #E8EBEF url("./assets/images/readymix2.jpg") bottom;
}

.searchPanel2a2Dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/images/readymix2.jpg");
    background-position: bottom;
}

.searchPanel2a3 {
    background: #E8EBEF url("./assets/images/readymix3.jpg") bottom;
}

.searchPanel2a3Dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/images/readymix3.jpg");
    background-position: bottom;
}

.searchPanel2a4 {
    background: #E8EBEF url("./assets/images/readymix4.jpg") bottom;
}

.searchPanel2a4Dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/images/readymix4.jpg");
    background-position: bottom;
}

.searchPanel2b1 {
    background: #E8EBEF url("./assets/images/cement1.jpg") bottom;
}

.searchPanel2b1Dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/images/cement1.jpg");
    background-position: bottom;
}

.searchPanel2b2 {
    background: #E8EBEF url("./assets/images/cement2.jpg") bottom;
}

.searchPanel2b2Dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/images/cement2.jpg");
    background-position: bottom;
}

.searchPanel2b3 {
    background: #E8EBEF url("./assets/images/cement3.jpg") bottom;
}

.searchPanel2b3Dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/images/cement3.jpg");
    background-position: bottom;
}

.searchPanel2b4 {
    background: #E8EBEF url("./assets/images/cement4.jpg") bottom;
}

.searchPanel2b4Dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/images/cement4.jpg");
    background-position: bottom;
}

.searchPanel2c1 {
    background: #E8EBEF url("./assets/images/aggregates1.jpg") bottom;
}

.searchPanel2c1Dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/images/aggregates1.jpg");
    background-position: bottom;
}

.searchPanel2c2 {
    background: #E8EBEF url("./assets/images/aggregates2.jpg") bottom;
}

.searchPanel2c2Dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/images/aggregates2.jpg");
    background-position: bottom;
}

.searchPanel2c3 {
    background: #E8EBEF url("./assets/images/aggregates3.jpg") bottom;
}

.searchPanel2c3Dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/images/aggregates3.jpg");
    background-position: bottom;
}

.searchPanel2c4 {
    background: #E8EBEF url("./assets/images/aggregates4.jpg") bottom;
}

.searchPanel2c4Dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/images/aggregates4.jpg");
    background-position: bottom;
}

.searchPanel2d1 {
    background: #E8EBEF url("./assets/images/multiproducts1.jpg") bottom;
}

.searchPanel2d1Dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/images/multiproducts1.jpg");
    background-position: bottom;
}

.searchPanel2d2 {
    background: #E8EBEF url("./assets/images/multiproducts2.jpg") bottom;
}

.searchPanel2d2Dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/images/multiproducts2.jpg");
    background-position: bottom;
}

.searchPanel2d3 {
    background: #E8EBEF url("./assets/images/multiproducts3.jpg") bottom;
}

.searchPanel2d3Dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/images/multiproducts3.jpg");
    background-position: bottom;
}

.searchPanel2d4 {
    background: #E8EBEF url("./assets/images/multiproducts4.jpg") bottom;
}

.searchPanel2d4Dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/images/multiproducts4.jpg");
    background-position: bottom;
}

.searchPanel2e1 {
    background: #E8EBEF url("./assets/images/admixtures1.jpg") bottom;
}

.searchPanel2e1Dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/images/admixtures1.jpg");
    background-position: bottom;
}

.searchPanel2e2 {
    background: #E8EBEF url("./assets/images/admixtures2.jpg") bottom;
}

.searchPanel2e2Dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/images/admixtures2.jpg");
    background-position: bottom;
}

.searchPanel2e3 {
    background: #E8EBEF url("./assets/images/admixtures3.jpg") bottom;
}

.searchPanel2e3Dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/images/admixtures3.jpg");
    background-position: bottom;
}

.searchPanel2e4 {
    background: #E8EBEF url("./assets/images/admixtures4.jpg") bottom;
}

.searchPanel2e4Dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/images/admixtures4.jpg");
    background-position: bottom;
}

.searchPanel3 {
    width: 430px;
    min-height: 480px;
    background-color: #E8EBEF;
    padding: 0;
    margin: 0;
}

.searchPanelHeader {
    width: 430px;
    height: 25px;
    background-color: black;
    padding-left: inherit;
    margin-left: inherit;
    padding-top: 4px;
}

.searchPanelContent {
    width: 430px;
    margin-left: 0;
    margin-right: 0;
    padding: 8px 14px 18px 26px;
}

.searchPanelOffset {
    margin-top: 12px;
}

.searchPanelOffset2 {
    margin-top: 56px;
}

.searchPanelRuler {
    height: 0;
    max-height: 0 !important;
    font-size: 0;
    line-height: 0 !important;
}

.searchPanelRuler>td {
    width: 24px;
    padding: 0 !important;
}

.searchBtnFld {
    height: 25px;
    max-height: 25px;
    width: 60px;
    padding-left: 5px;
    margin-right: -2px;
    margin-top: -4px !important;
    margin-bottom: -3px !important;
    padding-right: 0 !important;
    color: #303030;
    font-size: 1em;
    font-weight: 400;
    text-align: left;
}

.searchBtnFld2 {
    height: 25px;
    max-height: 25px;
    min-width: 210px;
    padding-left: 5px;
    margin-right: -2px;
    margin-top: -4px !important;
    margin-bottom: -3px !important;
    padding-right: 0 !important;
    color: #303030;
    font-size: 1em;
    font-weight: 400;
    text-align: left;
}

.searchOperator {
    width: 70px;
}

.operatorBtnIcon {
    padding-left: 30px;
    padding-top: 3px;
}

.searchBtn {
    height: 25px;
    max-height: 25px;
    margin-top: -4px !important;
    padding-top: 3px;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: -3px;
}

.optionBtn {
    height: 25px;
    max-height: 25px;
    margin-top: -7px !important;
    margin-bottom: -3px;
    margin-left: -6px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.qtFormSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    margin-top: -4px;
    margin-bottom: -4px;
    padding-left: 5px;
    padding-right: 18px;
    height: 23px;
    color: #7e7e7e;
    background-size: 16px 24px;
    background: white url("./assets/images/selectBackground.png") no-repeat local right;
    border: 1px solid #cbcbcb;
    border-radius: 2px;
}

.qtFormLabelSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    min-width: 70px;
    width: auto;
    height: 25px;
    margin-top: -4px;
    margin-bottom: -4px;
    padding-right: 18px;
    padding-top: 0;
    line-height: 1.42857143;
    border: none;
    border-radius: 0;
    outline: none;
    pointer-events: inherit;
    background-size: 16px 24px;
    background: transparent url("./assets/images/selectBackground.png") no-repeat local right;
}

@media only screen and (-o-min-device-pixel-ratio: 5/4),
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and (min-device-pixel-ratio: 1.25),
only screen and (min-resolution: 1.25dppx) {
    .panelComboField {
        display: inline-block;
        width: 180px;
        background-size: 16px 24px;
        background: white url("./assets/images/selectBackground@2x.png") no-repeat local right;
        border: 1px solid #cbcbcb;
        border-radius: 2px;
    }
    .panelComboFieldSmall {
        display: inline-block;
        width: 60px;
        background-size: 16px 24px;
        background: white url("./assets/images/selectBackground@2x.png") no-repeat local right;
        border: 1px solid #cbcbcb;
        border-radius: 2px;
    }
    .qtFormSelect {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        padding-left: 5px;
        padding-right: 18px;
        height: 23px;
        color: #7e7e7e;
        background: white url("./assets/images/selectBackground@2x.png") no-repeat 16px/24px local right;
        border: 1px solid #cbcbcb;
        border-radius: 2px;
    }
    .qtFormLabelSelect {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        min-width: 70px;
        width: auto;
        height: 25px;
        margin-top: -4px;
        margin-bottom: -4px;
        padding-right: 18px;
        padding-top: 0;
        line-height: 1.42857143;
        border: none;
        border-radius: 0;
        outline: none;
        pointer-events: inherit;
        background: transparent url("./assets/images/selectBackground@2x.png") no-repeat 16px/24px local right;
    }
}

@media only screen and (-o-min-device-pixel-ratio: 9/4),
only screen and (-webkit-min-device-pixel-ratio: 2.25),
only screen and (min-device-pixel-ratio: 2.25),
only screen and (min-resolution: 2.25dppx) {
    .panelComboField {
        display: inline-block;
        width: 180px;
        background-size: 16px 24px;
        background: white url("./assets/images/selectBackground@3x.png") no-repeat local right;
        border: 1px solid #cbcbcb;
        border-radius: 2px;
    }
    .panelComboFieldSmall {
        display: inline-block;
        width: 60px;
        background-size: 16px 24px;
        background: white url("./assets/images/selectBackground@3x.png") no-repeat local right;
        border: 1px solid #cbcbcb;
        border-radius: 2px;
    }
    .qtFormSelect {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        margin-top: -4px;
        margin-bottom: -4px;
        padding-left: 5px;
        padding-right: 18px;
        height: 23px;
        color: #7e7e7e;
        background: white url("./assets/images/selectBackground@3x.png") no-repeat 16px/24px local right;
        border: 1px solid #cbcbcb;
        border-radius: 2px;
    }
    .qtFormLabelSelect {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        min-width: 70px;
        width: auto;
        height: 25px;
        margin-top: -4px;
        margin-bottom: -4px;
        padding-right: 18px;
        padding-top: 0;
        line-height: 1.42857143;
        border: none;
        border-radius: 0;
        outline: none;
        pointer-events: inherit;
        background: transparent url("./assets/images/selectBackground@3x.png") no-repeat 16px/24px local right;
    }
}

@-moz-document url-prefix() {
    .qtFormSelect {
        margin-left: -4px;
        outline: none;
    }
    .qtFormLabelSelect {
        margin-left: -4px;
        outline: none;
    }
    .searchResultList2 {
        max-height: 175px !important;
    }
    .searchResultList4 {
        height: 292px !important;
        max-height: 292px !important;
    }
    .searchResultList a,
    .searchResultList2 a {
        text-decoration: none;
        display: block;
        margin-top: -1px;
        padding: 6px 2px 5px 83px;
        text-indent: -74px;
        background-color: white;
        border: 1px solid #dedede;
    }
    .searchResultList2>p {
        margin-top: -1px;
        margin-left: 1px;
    }
    .closeBox .glyphicon {
        margin-right: 4px;
        margin-top: -1px;
    }
    .closeBox2 .glyphicon {
        margin-left: 50px;
        margin-top: -1px;
    }
}

.qtFormLabelSelect:hover,
.qtFormSelect:hover {
    cursor: pointer;
}

.dropdown-menu li {
    padding-right: 16px;
    padding-left: 16px;
    line-height: 1.42857143;
}

.dropdown-menu>li:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

.dataPanelTableRow {
    width: 390px;
    position: absolute;
    bottom: 0;
    margin-bottom: 5.5%;
    margin-left: 0;
}

.dataPanelCtrls {
    width: 390px;
    margin: 4px 0 4px -8px;
    padding: 0;
}

.searchBtn2 {
    height: 25px;
    max-height: 25px;
    margin-top: 0 !important;
    padding-top: 3px;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: -3px;
}

.searchBtn>i,
.searchBtn2>i {
    font-size: 12px;
}

.searchPanelBtnFld {
    height: 25px;
    max-height: 25px;
    width: 60px;
    padding-left: 5px;
    margin-right: -2px;
    margin-top: 0 !important;
    margin-bottom: -3px !important;
    padding-right: 0 !important;
    color: #303030;
    font-size: 1em;
    font-weight: 400;
    text-align: left;
}

.searchField {
    height: 25px;
    max-height: 25px;
    width: 232px;
    margin-top: 0 !important;
    margin-bottom: -3px !important;
    padding: 0 0 0 5px !important;
    color: #303030;
    font-size: 1em;
    font-weight: 400;
    text-align: left;
    border: 1px solid #cbcbcb;
}

.searchPanelRow {
    max-height: 29px !important;
    height: 29px !important;
    line-height: 29px !important;
}

.searchPanelRow>td {
    padding: 2px 3px 4px 0 !important;
    width: 24px
}

.searchPanelRow2 {
    max-height: 29px !important;
    height: 29px !important;
    line-height: 29px !important;
}

.searchTitles {
    max-height: 24px !important;
    height: 24px !important;
    line-height: 24px !important;
}

.searchTitles>td {
    padding: 2px 3px 0 2px;
    width: 24px
}

.addSearchRow {
    height: 29px !important;
    line-height: 29px !important;
}

.addSearchRow>td {
    padding: 3px 4px 0 1px !important;
    width: 24px
}

.searchCancelBtn {
    margin-left: -6px;
}

.saveActionBtn {
    margin-left: 36px;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.searchBackBtn {
    margin-left: -8px;
}

.searchPanelActionRow {
    width: 390px;
    position: absolute;
    bottom: 0;
    margin-bottom: 8px;
    margin-left: 10px;
}

.searchPanelActionRow2 {
    width: 390px;
    position: absolute;
    bottom: 0;
    margin-bottom: 1%;
    margin-left: 10px;
}

.searchPanelActionRow2b {
    width: 390px;
    height: 119px;
    position: absolute;
    bottom: 0;
    margin-bottom: 64%;
    margin-left: 10px;
}

.searchPanelActionRow3 {
    width: 390px;
    position: absolute;
    bottom: 0;
    margin-bottom: 23%;
    margin-left: 10px;
}

.searchPanelActionRow4 {
    width: 390px;
    position: absolute;
    bottom: 0;
    margin-bottom: 5%;
    margin-left: 10px;
}

.searchPanelActionRow5 {
    width: 390px;
    position: absolute;
    bottom: 0;
    margin-bottom: 8%;
    margin-left: 10px;
}

.searchPanelActionRow6 {
    width: 390px;
    position: absolute;
    bottom: 0;
    margin-bottom: 2.5%;
    margin-left: 10px;
}

.searchPanelFooter {
    width: 390px;
    height: 38px;
    position: absolute;
    bottom: 0;
    margin-bottom: 16px;
    margin-left: 20px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.searchPanelFooter a,
.searchPanelFooter a:link,
.searchPanelFooter a:visited {
    color: white;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .8);
}

.searchPanelFooter a:hover {
    color: #3FA9F5;
    text-decoration: none;
    cursor: pointer;
}

.materialSearchLabel {
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .8);
    padding: 6px 0 0 0;
}

.materialSearchLabel2 {
    color: white;
    font-size: 13px;
    font-weight: 500;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .8);
    padding: 4px 0 0 0;
}

.materialSearchMsg {
    height: 92px;
    margin-top: 12px;
}

.materialSearchMsgBox {
    background-color: #42166E;
    color: white;
    padding: 12px 10px 12px 10px;
    font-size: 0.98em;
    line-height: 14px;
    font-weight: 500;
    text-align: center;
}

.materialSearchMsgBox>p {
    margin: 0 0 12px 0;
    padding: 0;
}

.createProductBtn {
    margin: 0;
    padding: 0;
    height: 32px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .8);
}

.createProductBtn .glyphicon {
    margin-right: 4px;
    font-size: 12px;
}

.createProductBtn:link,
.createProductBtn:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.createProductBtn:hover {
    color: #3FA9F5;
    text-decoration: none;
    cursor: pointer;
}

.materialSearchScope {
    margin-bottom: 3px;
    padding-left: 4px;
}

.materialSearchScope input[type=checkbox]+label {
    color: white;
    font-weight: 500;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .9);
}

.materialSearch {
    margin-left: 10px;
    padding: 0;
    width: 390px;
    height: 372px;
    /* can't be generated automatically because of aligment */
}

.materialSearch2 {
    margin-left: 10px;
    padding: 0;
    width: 390px;
}

.materialSearchCurrentPlant {
    overflow: hidden;
}

.materialSearchPlantName {
    width: 285px;
    height: 34px;
    background-color: #42166E;
    color: white;
    padding: 2px 5px 2px 7px;
    font-size: 0.98em;
    line-height: 14px;
    font-weight: 500;
    float: left;
}

.materialSearchRemovePlant {
    width: 35px;
    height: 34px;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle !important;
    text-align: center;
}

.removePlantBtn {
    width: 100%;
    height: 100%;
    border: none;
    margin: -1px 0 0 0;
    padding: 10px 10px;
    background-color: #303030;
}

.materialSearchRemovePlant a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.removePlantBtn:hover {
    background-color: #545454;
}

.materialSearchFldRow {
    margin-bottom: 12px;
}

.materialSearchFldRow2 {
    margin-bottom: 4px;
}

.materialSearchFldRow3 {
    margin-bottom: 6px;
}

.materialSearchBtnRow {
    margin-left: -20px;
}

.materialSearchBtn {
    padding-left: 5px;
    padding-right: 5px;
}

.materialSearchBtn2 {
    height: 32px;
    width: 36px;
    padding-left: 9px;
    padding-top: 6px;
    margin: 0;
}

.materialSearchBtn3 {
    margin-left: 32px;
    margin-top: 24px;
    padding-left: 5px;
    padding-right: 5px;
}

.materialSearchBtn4 {
    margin-left: 16px;
    margin-top: 18px;
    padding-left: 5px;
    padding-right: 5px;
}

.materialSearchBtnUpDwn {
    height: 16px;
    width: 36px;
    padding-left: 9px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    display: block;
    border-radius: 0;
}

.materialSearchBtnUpAlign {
    margin-top: -3px !important;
    padding: 0;
    font-size: 10px;
    top: 0;
}

.materialSearchBtnDwnAlign {
    margin-top: -3px !important;
    padding: 0;
    font-size: 10px;
    top: -1px;
}

.materialSearchFld,
.materialSearchFld2 {
    width: 100%;
    height: 32px;
    padding-left: 8px;
    padding-right: 8px;
    -moz-appearance: textfield;
}

.materialSearchFld2 {
    margin-right: -2px;
}

.materialSearchFldErr {
    background-color: #ffcbcd;
    border: 1px solid #EE3D42;
    outline: none;
}

.materialSearchFld::-webkit-outer-spin-button,
.materialSearchFld2::-webkit-outer-spin-button,
.materialSearchFld::-webkit-inner-spin-button,
.materialSearchFld2::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.searchPanelResults {
    width: 390px;
    margin-top: 12px;
    padding-left: 14px;
}

.searchPanelResults2 {
    width: 390px;
    min-height: 188px;
    margin-top: 0;
    padding-left: 14px;
}

.searchPanelResults2b {
    width: 390px;
    max-height: 188px;
    margin-top: 0;
    padding-left: 14px;
}

.searchPanelResults3 {
    width: 390px;
    margin-top: 0;
    padding-left: 149px;
}

.searchPanelResults4 {
    width: 390px;
    margin-top: 24px;
    padding-left: 14px;
}

.searchPanelResults5 {
    width: 390px;
    margin: 0 0 0 -22px;
    padding-left: 14px;
}

.searchResultsHide,
.messageHide,
.searchBtnHide {
    display: none;
}

.searchResultsShow,
.messageShow,
.searchBtnShow {
    display: block;
}

.searchListPadding {
    padding-right: 0;
    padding-left: 10px;
}

.searchResultList {
    margin-top: -4px;
    margin-bottom: -3px;
    height: 350px;
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
}

.searchResultList2 {
    margin: -4px 12px 0 42px;
    padding: 0;
    min-height: 42px;
    max-height: 174px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: transparent;
    list-style: none;
}

.searchResultList2 p,
.searchResultList4 p,
.searchResultList4b p {
    margin: -1px 0 0 0;
    padding: 6px 6px 5px 10px;
    background-color: rgba(255, 255, 255, .88);
    font-weight: 700;
    color: #303030;
    border: 1px solid #dedede;
}

.searchResultList>a,
.searchResultList2>li,
.searchResultList4>li,
.searchResultList4b>li {
    width: 100%;
    margin: 0;
    padding: 0;
}

.searchResultList a:hover,
.searchResultList2 a:hover,
.searchResultList4 a:hover,
.searchResultList4b a:hover {
    background: #C5E6FC;
}

.searchResultList a,
.searchResultList2 a {
    text-decoration: none;
    display: block;
    margin-top: -1px;
    padding: 6px 2px 5px 83px;
    text-indent: -74px;
    background-color: white;
    border: 1px solid #dedede;
}

.searchResultList4 a {
    text-decoration: none;
    display: block;
    margin-top: -1px;
    padding: 6px 6px 5px 74px;
    text-indent: -63px;
    background-color: white;
    border: 1px solid #dedede;
}

.searchResultList4b a {
    text-decoration: none;
    display: block;
    margin-top: -1px;
    padding: 6px 6px 5px 97px;
    text-indent: -91px;
    background-color: white;
    border: 1px solid #dedede;
}

.searchResultList3 {
    width: 180px;
    margin-top: 2px;
    margin-left: 0;
    margin-right: 0;
    max-height: 115px;
    position: absolute;
    float: left;
    z-index: 11111;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: transparent;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

.searchResultList3Small {
    width: 100px;
    margin-top: 2px;
    margin-left: 0;
    margin-right: 0;
    max-height: 115px;
    position: absolute;
    float: left;
    z-index: 11111;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: transparent;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

.searchResultList3>a,
.searchResultList3Small>a {
    border-top: none;
    background-color: white;
    height: 24px;
    line-height: 16px;
    padding: 3px 2px 3px 8px;
    margin-top: 0;
}

.searchResultList3>p,
.searchResultList3Small>p {
    border-top: none;
    background-color: white;
    height: 28px;
    line-height: 18px;
    padding: 5px 2px 3px 8px;
    margin: 0;
}

.searchResultList3>a:hover,
.searchResultList3Small>a:hover,
.searchResultList6>a:hover {
    background: #C5E6FC;
}

.searchPagination {
    margin-left: -12px;
    margin-top: 12px;
}

.searchResultList4 {
    height: 290px;
    max-height: 290px;
    margin-right: 22px;
    margin-top: -4px;
    margin-bottom: -3px;
    padding-left: 32px;
    padding-right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: transparent;
    list-style: none;
}

.searchResultList4b {
    height: 290px;
    max-height: 290px;
    margin-right: 0;
    margin-top: -4px;
    margin-bottom: -3px;
    padding-left: 0;
    padding-right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: transparent;
    list-style: none;
}

.searchResultList5 {
    width: 232px;
    margin-top: 2px;
    margin-left: 0;
    margin-right: 0;
    max-height: 115px;
    position: absolute;
    float: left;
    z-index: 11111;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: transparent;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
    border-top: 1px solid #f0f0f0;
}

.searchResultList5>a {
    border-top: none;
    background-color: white;
    height: 24px;
    line-height: 16px;
    padding: 3px 2px 3px 8px;
    margin-top: 0;
}

.searchResultList5>p {
    border-top: none;
    background-color: white;
    height: 28px;
    line-height: 18px;
    padding: 5px 2px 3px 8px;
    margin: 0;
}

.searchResultList6 {
    width: 217px;
    margin-top: -6px;
    margin-left: 1px;
    margin-right: 0;
    padding: 0;
    max-height: 124px;
    position: absolute;
    float: left;
    z-index: 11111;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: transparent;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

.searchResultList6>a {
    border-top: none;
    background-color: white;
    height: 26px;
    line-height: 18px;
    padding: 3px 2px 4px 8px;
    margin-top: 0;
}

.searchResultList6>p {
    border-top: none;
    background-color: white;
    height: 28px;
    line-height: 18px;
    padding: 5px 2px 4px 8px;
    margin: 0;
}

.seachItemCode {
    width: 92px;
    display: inline-block;
    text-align: left;
    text-indent: 0;
    margin: 0;
    padding: 0;
}

.seachItemCodeNoPlant {
    width: 74px;
    display: inline-block;
    text-align: left;
    text-indent: 0;
    margin: 0;
    padding: 0;
}

.searchItemDesc {
    padding-left: 12px;
}

.searchNotFound {
    padding: 16px;
    font-weight: 700;
    color: #303030;
}

.nothingFoundMsg {
    font-size: 1em;
    font-weight: 400;
    margin: 72px 0 32px 0;
    padding: 0 32px 0 32px;
}

.dataPanel {
    width: 430px;
    min-height: 480px;
    background-color: #F4F9FC;
    padding: 0;
    margin: 0;
}

.dataPanelHeader {
    height: 25px;
    width: 100%;
    background-color: #4A4A4A;
    padding-left: inherit;
    margin-left: inherit;
    padding-top: 4px;
}

.dataPanelTitle {
    width: 288px;
    padding-left: 8px;
}

.dataPanelTitle2 {
    width: 355px;
    padding-left: 8px;
}

.dataPanelTitle3 {
    width: 380px;
    padding-left: 8px;
}

.dataPanelLabelData {
    font-weight: 400;
    width: 46px;
    text-align: right;
    padding-top: 1px;
}

.dataPanelLabelChart {
    font-weight: 400;
    width: 46px;
    margin-right: 4px;
    padding-right: 0;
    padding-left: 0;
    padding-top: 1px;
    margin-left: 0;
}

.panelSwitch {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    margin-top: -1px;
    width: 36px;
}

.dataPanelContent {
    width: 430px;
    margin-left: 0;
    margin-right: 0;
    padding: 8px 20px 18px;
    margin-bottom: 10px;
}

.dataPanelContent td,
.searchPanelContent td {
    border-top: none !important;
    padding: 0;
    margin: 0;
}

.panelRow {
    max-height: 27px !important;
    height: 27px !important;
    line-height: 27px !important;
}

.panelNoteRow {
    max-height: 42px !important;
    height: 27px !important;
    line-height: 27px !important;
}

.panelDropdownRow {
    padding-left: 10px !important;
    padding-top: 4px !important;
    padding-bottom: 10px !important;
    vertical-align: middle !important;
}

.panelDropRowWithBorder {
    max-height: 27px !important;
    height: 27px !important;
    line-height: 27px !important;
    border: 1px solid #D8D8D8;
}

.panelNoteRow>td {
    padding-bottom: 8px !important;
}

.panelLabelRow>td {
    max-height: 16px !important;
    height: 16px !important;
    line-height: 16px !important;
    padding-left: 10px !important;
    padding-top: 8px !important;
    padding-bottom: 0 !important;
}

.panelRowBordered {
    max-height: 27px !important;
    height: 27px !important;
    line-height: 27px !important;
    border: 1px solid #D8D8D8;
}

.panelRowWithBorder {
    max-height: 27px !important;
    height: 27px !important;
    line-height: 27px !important;
    border: 1px solid #D8D8D8;
}

.panelRow>td,
.panelRowWithBorder>td {
    width: 32px;
    padding-top: 5px !important;
    padding-bottom: 4px !important;
    padding-left: 5px !important;
}

.panelRowBordered>td {
    width: 32px;
    padding-top: 5px !important;
    padding-bottom: 4px !important;
    padding-left: 5px !important;
    border: 1px solid #D8D8D8;
}

.panelDropRowWithBorder>td {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    padding-left: 5px !important;
    vertical-align: middle !important;
}

.panelBorderTLeft {
    border-left: 1px solid #D8D8D8;
}

.panelRuler {
    height: 0;
    max-height: 0 !important;
    font-size: 0;
    line-height: 0 !important;
}

.panelRuler>td {
    width: 32px;
    padding: 0 !important;
}

textarea {
    border: 1px solid #dfdfdf;
}

td>textarea {
    resize: none;
}

.panelField40,
.panelField40Hidden,
.panelDummyField40 {
    width: 50px;
}

.panelField,
.panelFieldHidden,
.panelDummyField {
    width: 60px;
}

.panelField80,
.panelField80Hidden,
.panelDummyField80 {
    width: 80px;
}

.panelField100,
.panelField100Hidden,
.panelDummyField100 {
    width: 100px;
}

.panelField120,
.panelField120Hidden,
.panelDummyField120 {
    width: 120px;
}

.panelField160,
.panelField160Hidden,
.panelDummyField160 {
    width: 160px;
}

.panelField200,
.panelField200Hidden,
.panelDummyField200 {
    width: 200px;
}

.panelField240,
.panelField240Hidden,
.panelDummyField240 {
    width: 240px;
}

.panelField260,
.panelField260Hidden,
.panelDummyField260 {
    width: 260px;
}

.panelField290,
.panelField290Hidden,
.panelDummyField290 {
    width: 294px;
}

.panelFieldFull,
.panelFieldFullHidden,
.panelDummyFieldFull {
    width: 370px;
}

.panelField,
.panelField40,
.panelField80,
.panelField100,
.panelField120,
.panelField160,
.panelField200,
.panelField240,
.panelField260,
.panelField290,
.panelFieldFull,
.panelComboField,
.panelComboFieldSmall {
    padding-left: 5px;
    margin-right: -2px;
    margin-top: -3px !important;
    margin-bottom: -3px !important;
}

.panelFieldHidden,
.panelField40Hidden,
.panelField80Hidden,
.panelField100Hidden,
.panelField120Hidden,
.panelField160Hidden,
.panelField200Hidden,
.panelField240Hidden,
.panelField260Hidden,
.panelField290Hidden,
.panelFieldFullHidden {
    height: 23px;
    padding-left: 5px;
    margin-right: -2px;
    padding-top: 2px;
    margin-top: -3px !important;
    margin-bottom: -3px !important;
    cursor: pointer;
    border: 1px solid transparent;
    -ms-transition: border-color .3s ease-in-out;
    -moz-transition: border-color .3s ease-in-out;
    -webkit-transition: border-color .3s ease-in-out;
    transition: border-color .3s ease-in-out;
}

.panelFieldHidden:hover,
.panelField80Hidden:hover,
.panelField100Hidden:hover,
.panelField120Hidden:hover,
.panelField160Hidden:hover,
.panelField200Hidden:hover,
.panelField240Hidden:hover,
.panelField260Hidden:hover,
.panelField290Hidden:hover,
.panelFieldFullHidden:hover,
.panelField40Hidden:hover {
    border: 1px solid rgba(223, 223, 223, .7);
    background: rgba(255, 255, 255, .4);
}

.panelDummyField,
.panelDummyField40,
.panelDummyField80,
.panelDummyField100,
.panelDummyField120,
.panelDummyField160,
.panelDummyField200,
.panelDummyField240,
.panelDummyField260,
.panelDummyField290,
.panelDummyFieldFull {
    height: 23px;
    padding-left: 5px;
    margin-right: -2px;
    padding-top: 2px;
    margin-top: -3px !important;
    margin-bottom: -3px !important;
    border: 1px solid transparent;
}

.panelComboField {
    display: inline-block;
    width: 180px;
    background-size: 16px 24px;
    background: white url("./assets/images/selectBackground.png") no-repeat local right;
    border: 1px solid #cbcbcb;
    border-radius: 2px;
}

.panelComboFieldSmall {
    display: inline-block;
    width: 60px;
    background-size: 16px 24px;
    background: white url("./assets/images/selectBackground.png") no-repeat local right;
    border: 1px solid #cbcbcb;
    border-radius: 2px;
}

.panelComboTrigger {
    background-color: transparent;
    display: inline-block;
    width: 18px;
    height: 20px;
    padding: 0;
    margin: -6px 0 -6px -20px;
}

.panelComboTrigger:hover {
    background-color: rgba(111, 111, 111, .1);
    border-left: 1px solid #cbcbcb;
}

.dashChartBackgrnd {
    background-color: white;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 6px;
    margin-top: -1px;
    border-top: 1px solid #dddddd;
}

.dashChartContainer {
    border-radius: 6px;
    border: 1px solid #545454;
    background-color: #545454;
    width: calc(100% - 32px);
    height: 232px;
    margin: 8px 22px 8px 10px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    color: white;
}

.dashChartTitle {
    margin-left: 0;
    margin-right: 0;
    height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    font-size: 1.4em;
    font-weight: 100;
}

.sectionName {
    font-weight: 700;
}

.dashChartBarLabels {
    margin-left: 0;
    margin-right: 0;
    height: 28px;
    padding-left: 6.9%;
    padding-right: 6.9%;
    padding-top: 10px;
    font-size: 0.95em;
}

[class*="chartLabel"] {
    padding-left: 4px;
}

.dashChartBars {
    margin-left: 0;
    margin-right: 0;
    height: 46px;
    padding-left: 6.9%;
    padding-right: 6.9%;
    padding-top: 0;
    font-size: 1.2em;
    font-weight: 500
}

.dashChartBars>[class^="col-"],
.dashChartBars>[class*=" col-"],
.dashChartBarLabels>[class^="col-"],
.dashChartBarLabels>[class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

.dashChartBars [class*="col-"]:first-child,
.dashChartBars [class*="col-"]:last-child,
.dashChartBarLabels [class*="col-"]:first-child,
.dashChartBarLabels [class*="col-"]:last-child {
    width: 0 !important;
    max-width: 0 !important;
}

.dashChartBars [class*="col-"]:not(:first-child),
.dashChartBars [class*="col-"]:not(:last-child),
.dashChartBarLabels [class*="col-"]:not(:first-child),
.dashChartBarLabels [class*="col-"]:not(:last-child) {
    width: 20%;
}

.dashChartBarLabels [id*="chartLabel"] {
    padding-left: 4px;
}

.dashChart1stCol {
    background-color: #C0213D;
    padding-left: 12px;
    padding-top: 1px;
}

.dashChart2ndCol {
    background-color: #42166E;
    padding-left: 12px;
    padding-top: 1px;
}

.dashChart3rdCol {
    background-color: #003875;
    padding-left: 12px;
    padding-top: 1px;
}

.dashChart4thCol {
    background-color: #3FA9F5;
    padding-left: 12px;
    padding-top: 1px;
}

.dashChart5thCol {
    background-color: #9B9B9B;
    padding-left: 12px;
    padding-top: 1px;
}

.dashChartSize5 {
    height: 46px;
}

.dashChartSize4 {
    height: 40px;
}

.dashChartSize3 {
    height: 34px;
}

.dashChartSize2 {
    height: 28px;
}

.dashChartSize1 {
    height: 22px;
}

.dashLegend {
    height: 100px;
}

.dashCharLegend {
    margin-top: 0;
    margin-left: 0;
    padding-top: 0;
    padding-left: 0;
}

.dashCharLegend>p {
    margin-bottom: 7px;
}

.dashChartLegendBox {
    white-space: nowrap;
    margin-top: 4px;
    margin-left: 18px;
    padding-top: 14px;
    padding-left: 6px;
    border-left: 1px solid #C0C0C0;
    line-height: 13px;
    font-size: 1em;
    font-weight: 300;
}

.dashCharLegendValue {
    font-size: 1em;
    font-weight: 700;
    padding-left: 6px;
}

.dashChartLegendShow {
    display: inline-block;
}

.dashChartLegendHide {
    display: none;
}

.dashChartTotalBox {
    white-space: nowrap;
    margin-top: -36px;
    margin-right: 18px;
}

.dashChartTotalSum {
    font-size: 1.5em;
    font-weight: 500;
}

.dashSectionContainer {
    width: 100%;
    padding-left: 8px;
    padding-right: 19px;
    margin: 0 0 18px;
}

.dashSectionContainerSmall {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 14px;
    margin: 0 0 18px;
    background-color: white;
}

.dashChartNoData {
    font-size: 1.4em;
    font-weight: 400;
    text-align: center;
    margin-top: 64px;
}

.dashWrapper {
    padding: 0 8px 0 8px;
}

.dashWrapper [class*="col-"] {
    padding: 0 7px 0 7px;
}


/*
  .dashWrapper [class*="col-"]:first-child {
    padding: 0 !important;
  }

  .dashWrapper [class*="col-"]:last-child {
    padding: 0 !important;
  }
  */

.dashBoxContainer {
    background-color: white;
    height: 100%;
}

.dashSectionContainerSmall .dashBoxContainer {
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.dashBoxHead {
    height: 24px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 2px;
}

.dashBoxContent {
    padding: 12px 24px 4px;
}

.dashBoxBtnWrapper {
    padding-left: 13px;
}

.dashSectionContainerSmall .dashBoxBtnWrapper {
    padding-left: 12px;
}

.dashBoxBtn {
    margin: 4px;
    position: absolute;
    bottom: 0;
    font-size: 13px;
}

.col-md-4 .dashBoxBtn {
    width: 93%;
}

.col-md-6 .dashBoxBtn {
    width: 95%;
}

.dashSectionContainer>.row,
.dashSectionContainerSmall>.row {
    padding-left: 8px;
    padding-right: 8px;
}

.dashMaterialBox,
.dashAdditionalBox,
.dashSundryBox {
    min-height: 192px;
    height: 192px;
}

.dashMaterialBox2,
.dashAdditionalBox2,
.dashSundryBox2 {
    min-height: 165px;
    height: 165px;
}

.dashMaterialBox .dashBoxHead,
.dashMaterialBox2 .dashBoxHead {
    background-color: #003875;
}

.dashAdditionalBox .dashBoxHead,
.dashAdditionalBox2 .dashBoxHead {
    background-color: #42166E;
}

.dashSundryBox .dashBoxHead,
.dashSundryBox2 .dashBoxHead {
    background-color: #C0213D;
}


/* .backBox {
    margin: 0 0 0 0;
    padding: 2px 3px 2px 6px;
    height: 32px;
    border: 1px solid white;
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.6);
    background-color: rgba(255,255,255,.3);
  } */

.backBox {
    margin: 0 0 0 0;
    padding: 2px 3px 2px 6px;
    height: 32px;
}

.backBox2 {
    margin: 14px 0 0 0;
    height: 32px;
}

.backBox .glyphicon,
.backBox2 .glyphicon {
    margin-right: 3px;
}


/* .backBox:hover {
    border: 1px solid #3FA9F5;
  } */


/* .okBox {
    margin: 0 0 0 0;
    padding: 2px 3px 2px 9px;
    height: 32px;
    border: 1px solid white;
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.6);
    background-color: rgba(255,255,255,.3);
  } */

.okBox {
    margin: 0 0 0 18px;
    padding: 2px 3px 2px 9px;
    height: 32px;
}

.okBox3 {
    margin: 14px 0 0 0;
    padding-right: 8px !important;
    height: 32px;
    float: right;
}

.okBox .glyphicon,
.okBox3 .glyphicon {
    margin-right: 4px !important;
}


/* .okBox:hover {
    border: 1px solid #3FA9F5;
  } */

.okBox2 {
    margin: 0 0 0 46px;
    padding: 2px 3px 2px 9px;
    height: 32px;
}

.closeBox {
    margin: 14px 0 0 0;
    height: 32px;
}

.closeBox2 {
    margin: 14px 0 0 50px;
    height: 32px;
}

.closeBox3,
.backBox3 {
    margin: 14px 0 0 0;
    padding: 0;
    height: 32px;
}

.closeBox4,
.okBox4,
.backBox4 {
    margin: 0;
    padding: 1px 0 0 4px;
    height: 25px;
    width: 25px;
}

.closeBox .glyphicon {
    margin-right: 4px;
}

.closeBox2 .glyphicon,
.closeBox3 .glyphicon,
.okBox3 .glyphicon,
.backBox3 .glyphicon,
.closeBox4 .glyphicon.okBox4 .glyphicon,
.backBox4 .glyphicon {
    margin: 0;
}

.closeBox4 a,
.closeBox4 a:link,
.closeBox4 a:visited,
.okBox4 a,
.okBox4 a:link,
.okBox4 a:visited,
.backBox4 a,
.backBox4 a:link,
.backBox4 a:visited {
    color: white;
    text-decoration: none;
}

.closeBox4 a.disabledBtn,
.okBox4 a.disabledBtn,
.backBox4 a.disabledBtn {
    cursor: not-allowed;
    text-decoration: none;
    color: rgba(255, 255, 255, .44);
}

.closeBox4 a:hover:not([class~="disabledBtn"]),
.okBox4 a:hover:not([class~="disabledBtn"]),
.backBox4 a:hover:not([class~="disabledBtn"]) {
    color: #3FA9F5;
    text-decoration: none;
    cursor: pointer;
}

.headerBtnFrame>div:not([class~="dataPanelTitle2"]) {
    border-left: 1px solid #555;
    margin-top: -4px;
    padding: 5px 0 0 6px;
}

.messageCloseBtn {
    color: white;
    font-size: 20px;
}

.messageShow,
.spinnerShow,
.lockerShow {
    display: block;
}

.messageHide,
.spinnerHide,
.lockerHide {
    display: none;
}

.messageBox {
    padding-top: 0;
    height: 64px;
}

.warningCounter {
    padding-top: 0;
    background-color: #E97700;
    height: 3px;
}

.alertCounter {
    padding-top: 0;
    background-color: #C11300;
    height: 3px;
}

.notifyCounter {
    padding-top: 0;
    background-color: #518D26;
    height: 3px;
}

.warningBox {
    position: fixed;
    left: 0;
    top: 0;
    margin-left: 0;
    margin-top: 0;
    float: left;
    width: 100%;
    height: 67px;
    z-index: 111111;
    border-left: 24px solid #E38A00;
    background-color: #F5A623;
}

.alertBox {
    position: fixed;
    left: 0;
    top: 0;
    margin-left: 0;
    margin-top: 0;
    float: left;
    width: 100%;
    height: 67px;
    z-index: 111111;
    border-left: 24px solid #D0021B;
    background-color: #FC5962;
}

.notifyBox {
    position: fixed;
    left: 0;
    top: 0;
    margin-left: 0;
    margin-top: 0;
    float: left;
    width: 100%;
    height: 67px;
    z-index: 111111;
    border-left: 24px solid #5FAB2A;
    background-color: #7AC943;
}

.warningBox p,
.alertBox p,
.notifyBox p {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 14px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.warningBox a:hover,
.warningBox a:link,
.warningBox a:visited,
.alertBox a:hover,
.alertBox a:link,
.alertBox a:visited,
.notifyBox a:hover,
.notifyBox a:link,
.notifyBox a:visited {
    color: white;
    text-decoration: none;
}

.warnMessage,
.alertMessage,
.notifyMessage {
    padding-left: 16px;
    padding-top: 15px;
}

.warningBox .messageTitle,
.alertBox .messageTitle,
.notifyBox .messageTitle {
    font-weight: 500;
}

.spinnerOverlay {
    position: absolute;
    z-index: 111112;
    left: 0;
    top: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(238, 238, 238, .3);
}

.screenLock {
    position: absolute;
    z-index: 111114;
    left: 0;
    top: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    min-height: 496px;
    background-color: rgba(255, 255, 255, .50);
}

.spinnerContainer {
    z-index: 111113;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.spinnerOrbit {
    z-index: 111113;
    border: 6px solid #CAE7FC;
    border-radius: 50%;
    border-top: 6px solid #3FA9F5;
    border-bottom: 6px solid #3FA9F5;
    width: 80px;
    height: 80px;
    -webkit-animation: spinCW 4s linear infinite;
    animation: spinCW 4s linear infinite;
    padding: 5px;
    box-shadow: 0 0 10px rgba(133, 133, 133, .8);
}

.spinnerBall {
    z-index: 111113;
    border-radius: 16px;
    border: 16px solid #CAE7FC;
    border-right-color: #3FA9F5;
    border-left-color: #3FA9F5;
    height: 0;
    width: 0;
    box-shadow: 0 0 1px rgba(99, 99, 99, .8);
    -webkit-animation: spinCCW 1.77s infinite linear;
    animation: spinCCW 1.77s infinite linear;
}

@-webkit-keyframes spinCW {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinCW {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinCCW {
    0% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes spinCCW {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.panelChartRow {
    text-align: center;
    color: white;
    font-weight: 500;
}

.panelChartRow>td {
    height: 120px;
    padding: 0 !important;
    vertical-align: bottom;
    border: 0;
}

.panelChart1stCol {
    margin: 10px 0 0 0;
    padding: 84px 0 0 0;
    border: 0;
    height: 110px;
    background-color: #C0213D;
}

.panelChart2ndCol {
    margin: 10px 0 0 0;
    padding: 84px 0 0 0;
    border: 0;
    height: 110px;
    background-color: #F5A623;
}

.panelChart3rdCol {
    margin: 10px 0 0 0;
    padding: 84px 0 0 0;
    border: 0;
    height: 110px;
    background-color: #3FA9F5;
}

.panelChart4thCol {
    margin: 10px 0 0 0;
    padding: 84px 0 0 0;
    border: 0;
    height: 110px;
    background-color: #003875;
}

.panelChart5thCol {
    margin: 10px 0 0 0;
    padding: 84px 0 0 0;
    border: 0;
    height: 110px;
    background-color: #7AC943;
}

.panelChartCompetCol {
    background-color: transparent;
    color: black;
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 84px 0 0 0;
    border: 0;
    height: 110px;
}

.panelChartSize1 {
    margin-top: 82px;
    padding-top: 12px;
    height: 38px;
}

.panelChartSize2 {
    margin-top: 74px;
    padding-top: 20px;
    height: 46px;
}

.panelChartSize3 {
    margin-top: 66px;
    padding-top: 28px;
    height: 54px;
}

.panelChartSize4 {
    margin-top: 58px;
    padding-top: 36px;
    height: 62px;
}

.panelChartSize5 {
    margin-top: 50px;
    padding-top: 44px;
    height: 70px;
}

.panelChartSize6 {
    margin-top: 42px;
    padding-top: 52px;
    height: 78px;
}

.panelChartSize7 {
    margin-top: 34px;
    padding-top: 60px;
    height: 86px;
}

.panelChartSize8 {
    margin-top: 26px;
    padding-top: 68px;
    height: 94px;
}

.panelChartSize9 {
    margin-top: 18px;
    padding-top: 76px;
    height: 102px;
}

.panelChartSize10 {
    margin-top: 10px;
    padding-top: 84px;
    height: 110px;
}

.panelChartCompetSize10 {
    background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2765%27%20height%3D%27120%27%3E%3Crect%20width%3D%2765%27%20height%3D%2710%27%20style%3D%27fill%3A%23F4F9FC%27%20%2F%3E%3C%2Fsvg%3E") right top repeat-x, url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2765%27%20height%3D%27120%27%3E%3Crect%20width%3D%2765%27%20height%3D%27120%27%20style%3D%27fill%3A%23c0c0c0%27%20%2F%3E%3C%2Fsvg%3E") right bottom repeat-x, transparent;
}

.panelChartCompetSize9 {
    background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2765%27%20height%3D%27120%27%3E%3Crect%20width%3D%2765%27%20height%3D%2718%27%20style%3D%27fill%3A%23F4F9FC%27%20%2F%3E%3C%2Fsvg%3E") right top repeat-x, url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2765%27%20height%3D%27120%27%3E%3Crect%20width%3D%2765%27%20height%3D%27120%27%20style%3D%27fill%3A%23c0c0c0%27%20%2F%3E%3C%2Fsvg%3E") right bottom repeat-x, transparent;
}

.panelChartCompetSize8 {
    background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2765%27%20height%3D%27120%27%3E%3Crect%20width%3D%2765%27%20height%3D%2726%27%20style%3D%27fill%3A%23F4F9FC%27%20%2F%3E%3C%2Fsvg%3E") right top repeat-x, url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2765%27%20height%3D%27120%27%3E%3Crect%20width%3D%2765%27%20height%3D%27120%27%20style%3D%27fill%3A%23c0c0c0%27%20%2F%3E%3C%2Fsvg%3E") right bottom repeat-x, transparent;
}

.panelChartCompetSize7 {
    background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2765%27%20height%3D%27120%27%3E%3Crect%20width%3D%2765%27%20height%3D%2734%27%20style%3D%27fill%3A%23F4F9FC%27%20%2F%3E%3C%2Fsvg%3E") right top repeat-x, url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2765%27%20height%3D%27120%27%3E%3Crect%20width%3D%2765%27%20height%3D%27120%27%20style%3D%27fill%3A%23c0c0c0%27%20%2F%3E%3C%2Fsvg%3E") right top repeat-x, transparent;
}

.panelChartCompetSize6 {
    background: url("data:image/svg+xml;utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2765%27%20height%3D%27120%27%3E%3Crect%20width%3D%2765%27%20height%3D%2742%27%20style%3D%27fill%3A%23F4F9FC%27%20%2F%3E%3C%2Fsvg%3E") right top repeat-x, url("data:image/svg+xml;utf-8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2765%27%20height%3D%27120%27%3E%3Crect%20width%3D%2765%27%20height%3D%27120%27%20style%3D%27fill%3A%23c0c0c0%27%20%2F%3E%3C%2Fsvg%3E") right bottom repeat-x, transparent;
}

.panelChartCompetSize5 {
    background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2765%27%20height%3D%27120%27%3E%3Crect%20width%3D%2765%27%20height%3D%2750%27%20style%3D%27fill%3A%23F4F9FC%27%20%2F%3E%3C%2Fsvg%3E") right top repeat-x, url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2765%27%20height%3D%27120%27%3E%3Crect%20width%3D%2765%27%20height%3D%27120%27%20style%3D%27fill%3A%23c0c0c0%27%20%2F%3E%3C%2Fsvg%3E") right top repeat-x, transparent;
}

.panelChartCompetSize4 {
    background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2765%27%20height%3D%27120%27%3E%3Crect%20width%3D%2765%27%20height%3D%2758%27%20style%3D%27fill%3A%23F4F9FC%27%20%2F%3E%3C%2Fsvg%3E") right top repeat-x, url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2765%27%20height%3D%27120%27%3E%3Crect%20width%3D%2765%27%20height%3D%27120%27%20style%3D%27fill%3A%23c0c0c0%27%20%2F%3E%3C%2Fsvg%3E") right top repeat-x, transparent;
}

.panelChartCompetSize3 {
    background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2765%27%20height%3D%27120%27%3E%3Crect%20width%3D%2765%27%20height%3D%2764%27%20style%3D%27fill%3A%23F4F9FC%27%20%2F%3E%3C%2Fsvg%3E") right top repeat-x, url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2765%27%20height%3D%27120%27%3E%3Crect%20width%3D%2765%27%20height%3D%27120%27%20style%3D%27fill%3A%23c0c0c0%27%20%2F%3E%3C%2Fsvg%3E") right top repeat-x, transparent;
}

.panelChartCompetSize2 {
    background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2765%27%20height%3D%27120%27%3E%3Crect%20width%3D%2765%27%20height%3D%2772%27%20style%3D%27fill%3A%23F4F9FC%27%20%2F%3E%3C%2Fsvg%3E") right top repeat-x, url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2765%27%20height%3D%27120%27%3E%3Crect%20width%3D%2765%27%20height%3D%27120%27%20style%3D%27fill%3A%23c0c0c0%27%20%2F%3E%3C%2Fsvg%3E") right top repeat-x, transparent;
}

.panelChartCompetSize1 {
    background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2765%27%20height%3D%27120%27%3E%3Crect%20width%3D%2765%27%20height%3D%2780%27%20style%3D%27fill%3A%23F4F9FC%27%20%2F%3E%3C%2Fsvg%3E") right top repeat-x, url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2765%27%20height%3D%27120%27%3E%3Crect%20width%3D%2765%27%20height%3D%27120%27%20style%3D%27fill%3A%23c0c0c0%27%20%2F%3E%3C%2Fsvg%3E") right top repeat-x, transparent;
}

.panelChartLabels {
    color: #545454;
    font-size: .85em;
    font-weight: 400;
    text-align: left;
}

.panelChartLegend>td {
    color: #545454;
    font-size: .95em;
    font-weight: 400;
    text-align: left;
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.panelChartValue {
    font-weight: 700;
    padding-left: 6px;
}

.panelVerticalSpace {
    height: 15px;
}

.panelChartCol2Filler {
    height: 100%;
    border-left: 1px solid #F5A623;
}

.panelChartCol3Filler {
    height: 100%;
    border-left: 1px solid #3FA9F5;
}

.panelChartCol4Filler {
    height: 100%;
    border-left: 1px solid #003875;
}

.panelChartCol5Filler {
    height: 100%;
    border-left: 1px solid #7AC943;
}

.panelChart5rdColLine {
    border-left: 8px solid #7AC943;
    padding-top: 1px;
    padding-left: 6px;
}

.panelChart4rdColLine {
    border-left: 8px solid #003875;
    padding-top: 1px;
    padding-left: 6px;
}

.panelChart3rdColLine {
    border-left: 8px solid #3FA9F5;
    padding-top: 1px;
    padding-left: 6px;
}

.panelChart2rdColLine {
    border-left: 8px solid #F5A623;
    padding-top: 1px;
    padding-left: 6px;
    padding-bottom: 0;
}
