/* non-retina screens */
.qtswitch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 18px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border: 1px;
  border-style: solid;
  border-radius: 16px;
  border-color: #4A4A4A
}
.qtswitch input {display:none;}
.qtslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
  background-color: white;
  -webkit-transition: .1s;
  transition: .1s;
}
.qtslider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  background-color: #4A4A4A;
  -webkit-transition: .1s;
  transition: .1s;
}
input:checked + .qtslider {
  background-color: white;
}
input:focus + .qtslider {
  box-shadow: 0 0 1px #4A4A4A;
}
input:checked + .qtslider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
[class^="qticon-"],
[class*=" qticon-"],
[class^="qtbtn-"],
[class*=" qtbtn-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("qtIcons.png");
  background-size: 288px 216px;
  background-position: 0px -48px;
  background-repeat: no-repeat;
}
[class*="qtSelector-"],
[class*=" qtSelector-"] {
  display: inline-block;
  width: 16px;
  height: 24px;
  line-height: 21px;
  vertical-align: text-top;
  *margin-right: .4em;
  background-image: url("qtIcons.png");
  background-size: 288px 216px;
  background-position: 0px -48px;
  background-repeat: no-repeat;
}
[class^="qticon-"]:last-child,
[class*=" qticon-"]:last-child,
[class^="qtbtn-"]:last-child,
[class*=" qtbtn-"]:last-child,
[class*="qtSelector-"]:last-child,
[class*=" qtSelector-"]:last-child {
 *margin-left:0;
}
.qtcheckbox-parent {white-space: nowrap;}
input[type=checkbox] {
  display: none;
}
input[type=checkbox] + label {
  position: relative;
  background-image: url("qtIcons@2x.png");
  background-size: 288px 216px;
  background-position: -144px  0px;
  background-repeat: no-repeat;
  width: 16px;
  display: block;
  border-radius: 0px;
  padding-left: 22px;
  padding-top: 3px;
  margin-top: 3px;
  cursor: pointer;
  color: #303030;
  font-family: Roboto;
  font-size: 1.1em;
  font-weight: normal;
  text-align: left;
}
input[type=checkbox] + label:hover {
  background-position: -144px -20px;
}
input[type=checkbox]:checked:not([disabled]) + label {
  background-position: -112px 0px;
}
input[type=checkbox]:checked:not([disabled]) + label:hover {
  background-position: -112px -20px;
}
input[type=checkbox]:disabled + label {
  background-position: -144px -40px;
  color: #8e8e8e;
  cursor: not-allowed;
}
input[type=checkbox]:disabled + label:hover {
  background-position: -144px -40px;
}
input[type=checkbox]:disabled:checked + label {
  background-position: -112px -40px;
  color: #8e8e8e;
  cursor: not-allowed;
}
input[type=checkbox]:disabled:checked + label:hover {
  background-position: -112px -40px;
}
input[type=checkbox] + label:after {
  margin: auto;
}
[class^="qticon24-"],
[class*=" qticon24-"],
[class^="qtbtn24-"],
[class*=" qtbtn24-"] {
  display: inline-block;
  width: 24px;
  height: 24px;
  *margin-right: .4em;
  line-height: 21px;
  vertical-align: text-top;
  background-image: url("qtIcons.png");
  background-position: 0px -48px;
  background-repeat: no-repeat;
}
[class^="qticon24-"]:last-child,
[class*=" qticon24-"]:last-child,
[class^="qtbtn24-"]:last-child,
[class*=" qtbtn24-"]:last-child {
	*margin-left:0;
}

/* @2x Images for retina displays */
@media only screen and (-o-min-device-pixel-ratio: 5/4),
       only screen and (-webkit-min-device-pixel-ratio: 1.25),
       only screen and (min-device-pixel-ratio: 1.25),
       only screen and (min-resolution: 1.25dppx) {
         .qtswitch {
           position: relative;
           display: inline-block;
           width: 34px;
           height: 18px;
           border: 1px;
           border-style: solid;
           border-radius: 16px;
           border-color: #4A4A4A
         }
         .qtswitch input {display:none;}
         .qtslider {
           position: absolute;
           cursor: pointer;
           top: 0;
           left: 0;
           right: 0;
           bottom: 0;
           border-radius: 16px;
           background-color: white;
           -webkit-transition: .1s;
           transition: .1s;
         }
         .qtslider:before {
           position: absolute;
           content: "";
           height: 12px;
           width: 12px;
           left: 2px;
           bottom: 2px;
           border-radius: 50%;
           background-color: #4A4A4A;
           -webkit-transition: .1s;
           transition: .1s;
         }
         input:checked + .qtslider {
           background-color: white;
         }
         input:focus + .qtslider {
           box-shadow: 0 0 1px #4A4A4A;
         }
         input:checked + .qtslider:before {
           -webkit-transform: translateX(16px);
           -ms-transform: translateX(16px);
           transform: translateX(16px);
         }
         [class^="qticon-"],
         [class*=" qticon-"],
         [class^="qtbtn-"],
         [class*=" qtbtn-"] {
           display: inline-block;
           width: 16px;
           height: 16px;
           line-height: 14px;
           vertical-align: text-top;
           *margin-right: .3em;
           background-image: url("qtIcons@2x.png");
           background-size: 288px 216px;
           background-position: 0px -48px;
           background-repeat: no-repeat;
         }
         [class*="qtSelector-"] {
           display: inline-block;
           width: 16px;
           height: 24px;
           line-height: 21px;
           vertical-align: text-top;
           *margin-right: .4em;
           background-image: url("qtIcons@2x.png");
           background-size: 288px 216px;
           background-position: 0px -48px;
           background-repeat: no-repeat;
         }
         [class^="qticon-"]:last-child,
         [class*=" qticon-"]:last-child,
         [class^="qtbtn-"]:last-child,
         [class*=" qtbtn-"]:last-child,
         [class*=" qtSelector-"]:last-child {
         	*margin-left:0;
         }
         .qtcheckbox-parent {white-space: nowrap;}
         input[type=checkbox] {
           display: none;
         }
         input[type=checkbox] + label {
           position: relative;
           background-image: url("qtIcons@2x.png");
           background-size: 288px 216px;
           background-position: -144px  0px;
           background-repeat: no-repeat;
           width: 16px;
           display: block;
           border-radius: 0px;
           padding-left: 22px;
           padding-top: 3px;
           margin-top: 3px;
           cursor: pointer;
           color: #303030;
           font-family: Roboto;
           font-size: 1.1em;
           font-weight: normal;
           text-align: left;
         }
         input[type=checkbox] + label:hover {
           background-position: -144px -20px;
         }
         input[type=checkbox]:checked:not([disabled]) + label {
           background-position: -112px 0px;
         }
         input[type=checkbox]:checked:not([disabled]) + label:hover {
           background-position: -112px -20px;
         }
         input[type=checkbox]:disabled + label {
           background-position: -144px -40px;
           color: #8e8e8e;
           cursor: not-allowed;
         }
         input[type=checkbox]:disabled + label:hover {
           background-position: -144px -40px;
         }
         input[type=checkbox]:disabled:checked + label {
           background-position: -112px -40px;
           color: #8e8e8e;
           cursor: not-allowed;
         }
         input[type=checkbox]:disabled:checked + label:hover {
           background-position: -112px -40px;
         }
         input[type=checkbox] + label:after {
           margin: auto;
         }
         [class^="qticon24-"],
         [class*=" qticon24-"],
         [class^="qtbtn24-"],
         [class*=" qtbtn24-"] {
           display: inline-block;
           width: 24px;
           height: 24px;
           *margin-right: .4em;
           line-height: 21px;
           vertical-align: text-top;
           background-image: url("qtIcons@2x.png");
           background-size: 288px 216px;
           background-position: 0px -48px;
           background-repeat: no-repeat;
         }
         [class^="qticon24-"]:last-child,
         [class*=" qticon24-"]:last-child,
         [class^="qtbtn24-"]:last-child,
         [class*=" qtbtn24-"]:last-child {
         	*margin-left:0;
         }
}

/* @3x Images for high density retina displays */
@media only screen and (-o-min-device-pixel-ratio: 9/4),
       only screen and (-webkit-min-device-pixel-ratio: 2.25),
       only screen and (min-device-pixel-ratio: 2.25),
       only screen and (min-resolution: 2.25dppx) {
         .qtswitch {
           position: relative;
           display: inline-block;
           width: 34px;
           height: 18px;
           border: 1px;
           border-style: solid;
           border-radius: 16px;
           border-color: #4A4A4A
         }
         .qtswitch input {display:none;}
         .qtslider {
           position: absolute;
           cursor: pointer;
           top: 0;
           left: 0;
           right: 0;
           bottom: 0;
           border-radius: 16px;
           background-color: white;
           -webkit-transition: .1s;
           transition: .1s;
         }
         .qtslider:before {
           position: absolute;
           content: "";
           height: 12px;
           width: 12px;
           left: 2px;
           bottom: 2px;
           border-radius: 50%;
           background-color: #4A4A4A;
           -webkit-transition: .1s;
           transition: .1s;
         }
         input:checked + .qtslider {
           background-color: white;
         }
         input:focus + .qtslider {
           box-shadow: 0 0 1px #4A4A4A;
         }
         input:checked + .qtslider:before {
           -webkit-transform: translateX(16px);
           -ms-transform: translateX(16px);
           transform: translateX(16px);
         }
         [class^="qticon-"],
         [class*=" qticon-"],
         [class^="qtbtn-"],
         [class*=" qtbtn-"] {
           display: inline-block;
           width: 16px;
           height: 16px;
           line-height: 14px;
           vertical-align: text-top;
           *margin-right: .3em;
           background-image: url("qtIcons@3x.png");
           background-size: 288px 216px;
           background-position: 0px -48px;
           background-repeat: no-repeat;
         }
         [class*="qtSelector-"] {
           display: inline-block;
           width: 16px;
           height: 24px;
           line-height: 21px;
           vertical-align: text-top;
           *margin-right: .4em;
           background-image: url("qtIcons@3x.png");
           background-size: 288px 216px;
           background-position: 0px -48px;
           background-repeat: no-repeat;
         }
         [class^="qticon-"]:last-child,
         [class*=" qticon-"]:last-child,
         [class^="qtbtn-"]:last-child,
         [class*=" qtbtn-"]:last-child,
         [class*="qtSelector-"]:last-child {
         	*margin-left:0;
         }
         .qtcheckbox-parent {white-space: nowrap;}
         input[type=checkbox] {
           display: none;
         }
         input[type=checkbox] + label {
           position: relative;
           background-image: url("qtIcons@2x.png");
           background-size: 288px 216px;
           background-position: -144px  0px;
           background-repeat: no-repeat;
           width: 16px;
           display: block;
           border-radius: 0px;
           padding-left: 22px;
           padding-top: 3px;
           margin-top: 3px;
           cursor: pointer;
           color: #303030;
           font-family: Roboto;
           font-size: 1.1em;
           font-weight: normal;
           text-align: left;
         }
         input[type=checkbox] + label:hover {
           background-position: -144px -20px;
         }
         input[type=checkbox]:checked:not([disabled]) + label {
           background-position: -112px 0px;
         }
         input[type=checkbox]:checked:not([disabled]) + label:hover {
           background-position: -112px -20px;
         }
         input[type=checkbox]:disabled + label {
           background-position: -144px -40px;
           color: #8e8e8e;
           cursor: not-allowed;
         }
         input[type=checkbox]:disabled + label:hover {
           background-position: -144px -40px;
         }
         input[type=checkbox]:disabled:checked + label {
           background-position: -112px -40px;
           color: #8e8e8e;
           cursor: not-allowed;
         }
         input[type=checkbox]:disabled:checked + label:hover {
           background-position: -112px -40px;
         }
         input[type=checkbox] + label:after {
           margin: auto;
         }
         [class^="qticon24-"],
         [class*=" qticon24-"],
         [class^="qtbtn24-"],
         [class*=" qtbtn24-"] {
           display: inline-block;
           width: 24px;
           height: 24px;
           *margin-right: .4em;
           line-height: 21px;
           vertical-align: text-top;
           background-image: url("qtIcons@3x.png");
           background-size: 288px 216px;
           background-position: 0px -48px;
           background-repeat: no-repeat;
         }
         [class^="qticon24-"]:last-child,
         [class*=" qticon24-"]:last-child,
         [class^="qtbtn24-"]:last-child,
         [class*=" qtbtn24-"]:last-child {
         	*margin-left:0;
         }
}
.qticon-folded {background-position: 0px 0px}
.qticon-unfolded {background-position: 0px -16px}
.qticon-plus, .qtbtn-plus {background-position: -16px 0px}
.qticon-plus-hover, a:hover > .qtbtn-plus {background-position: -16px -16px}
.qticon-plus-disabled, a.disabled > .qtbtn-plus {background-position: -16px -32px}
.qticon-plus-red {background-position: -16px -48px}
.qticon-plus-blue {background-position: -16px -64px}
.qticon-xmark, .qtbtn-xmark {background-position: -32px 0px}
.qticon-xmark-hover, a:hover > .qtbtn-xmark {background-position: -32px -16px}
.qticon-xmark-disabled, a.disabled > .qtbtn-xmark {background-position: -32px -32px}
.qticon-xmark-red {background-position: -32px -48px}
.qticon-xmark-blue {background-position: -32px -64px}
.qticon-competition, .qtbtn-competition {background-position: -48px 0px}
.qticon-competition-hover, a:hover > .qtbtn-competition {background-position: -48px -16px}
.qticon-competition-disabled, a.disabled > .qtbtn-competition {background-position: -48px -32px}
.qticon-competition-red {background-position: -48px -48px}
.qticon-competition-blue {background-position: -48px -64px}
.qticon-detail, .qtbtn-detail {background-position: -64px 0px}
.qticon-detail-hover, a:hover > .qtbtn-detail {background-position: -64px -16px}
.qticon-detail-disabled, a.disabled > .qtbtn-detail {background-position: -64px -32px}
.qticon-detail-red {background-position: -64px -48px}
.qticon-detail-blue {background-position: -64px -64px}
.qticon-info, .qtbtn-info {background-position: -80px 0px}
.qticon-info-hover, a:hover > .qtbtn-info, a:hover > .qtbtn-info-note {background-position: -80px -16px}
.qticon-info-disabled, a.disabled > .qtbtn-info, a:disabled > .qtbtn-info-note {background-position: -80px -32px}
.qticon-info-red, .qtbtn-info-note {background-position: -80px -48px}
.qticon-info-blue {background-position: -80px -64px}
.qticon-remove {background-position: -96px 0px}
.qticon-remove-hover, a:hover > .qtbtn-remove {background-position: -96px -16px}
.qticon-remove-disabled, a.disabled > .qtbtn-remove {background-position: -96px -32px}
.qticon-remove-red, a > .qtbtn-remove {background-position: -96px -48px}
.qticon-remove-blue {background-position: -96px -64px}
.qticon-checkbox1 {background-position: -112px -4px}
.qticon-checkbox1-hover {background-position: -112px -24px}
.qticon-checkbox1-disabled {background-position: -112px -44px}
.qticon-checkbox0 {background-position: -144px -4px}
.qticon-checkbox0-hover {background-position: -144px -24px}
.qticon-checkbox0-disabled {background-position: -144px -44px}
.qticon-notapproved {background-position: -176px 0px}
.qticon-approved {background-position: -176px -16px}
.qticon24-folded {background-position: 0px -96px}
.qticon24-unfolded {background-position: 0px -120px}
.qticon24-plus {background-position: -24px -96px}
.qticon24-plus-hover {background-position: -24px -120px}
.qticon24-plus-disabled {background-position: -24px -144px}
.qticon24-plus-red {background-position: -24px -168px}
.qticon24-plus-blue {background-position: -24px -192px}
.qticon24-xmark {background-position: -48px -96px}
.qticon24-xmark-hover {background-position: -48px -120px}
.qticon24-xmark-disabled {background-position: -48px -144px}
.qticon24-xmark-red {background-position: -48px -168px}
.qticon24-xmark-blue {background-position: -48px -192px}
.qticon24-competition {background-position: -72px -96px}
.qticon24-competition-hover {background-position: -72px -120px}
.qticon24-competition-disabled {background-position: -72px -144px}
.qticon24-competition-red {background-position: -72px -168px}
.qticon24-competition-blue {background-position: -72px -192px}
.qticon24-detail {background-position: -96px -96px}
.qticon24-detail-hover {background-position: -96px -120px}
.qticon24-detail-disabled {background-position: -96px -144px}
.qticon24-detail-red {background-position: -96px -168px}
.qticon24-detail-blue {background-position: -96px -192px}
.qticon24-info {background-position: -120px -96px}
.qticon24-info-hover {background-position: -120px -120px}
.qticon24-info-disabled {background-position: -120px -144px}
.qticon24-info-red {background-position: -120px -168px}
.qticon24-info-blue {background-position: -120px -192px}
.qticon24-remove {background-position: -144px -96px}
.qticon24-remove-hover {background-position: -144px -120px}
.qticon24-remove-disabled {background-position: -144px -144px}
.qticon24-remove-red {background-position: -144px -168px}
.qticon24-remove-blue {background-position: -144px -192px}
.qticon24-checkbox1 {background-position: -168px -103px}
.qticon24-checkbox1-hover {background-position: -168px -134px}
.qticon24-checkbox1-disabled {background-position: -168px -165px}
.qticon24-checkbox0 {background-position: -216px -103px}
.qticon24-checkbox0-hover {background-position: -216px -134px}
.qticon24-checkbox0-disabled {background-position: -216px -165px}
.qticon24-notapproved {background-position: -264px -96px}
.qticon24-approved {background-position: -264px -120px}
.qtSelector-default {background-position: -264px 0px}
.qtSelector-hover, a:hover > .qtSelector-hover {background-position: -264px -24px}
.qtSelector-disabled, a:disabled > .qtSelector-disabled {background-position: -264px -48px}
